- const authenticated = localStorage.getItem('authenticated');
- const user = localStorage.getItem('user');
if text
    .chat.pure-u-1-2(class=!authenticated ? 'chat__chat-hide' : '')
        span.chat__name= `${user}:`
        span.chat__message= text